<div class="row">
    <div class="col-xs-12">
        <img 
            [src]="recipe.imgPath" 
            alt="{{ recipe.name }}" 
            class="img-responsive"
            style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> {{ recipe.name }} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Manage Recipe</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ recipe.Description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>